@font-face{
	font-family: "PT Sans";
	src: ("https://fonts.google.com/specimen/PT+Sans?selection.family=PT+Sans");
}

.aboutimages{
	width: 80%;
	height: 50%;
	position: relative;
	text-align: center;
	color: white;
	overflow: hidden;
	-webkit-touch-callout: none; /* iOS Safari */
  	-webkit-user-select: none;   /* Chrome/Safari/Opera */
  	-khtml-user-select: none;    /* Konqueror */
  	-moz-user-select: none;      /* Firefox */
  	-ms-user-select: none;       /* Internet Explorer/Edge */
  	user-select: none;
}
.imgtext{
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%,-50%);
	color: #BFA959;
	text-shadow: 1px 1px #2B1E14;
	font-family: 'PT Sans', sans-sherif;
	font-weight: bold;
	font-size: 175%;
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;  
}

.bodytext{
	font-color: #2B1E14;
	font-family: 'PT Sans', sans-sherif;
}

.teamportrait{
	width: 30%;
	border-radius: 50%;
	overflow: hidden;
	max-height: 312px;
	max-width: 208px;
	position: relative;
	left: 10%;
	-webkit-touch-callout: none;
  	-webkit-user-select: none;
  	-khtml-user-select: none;
  	-moz-user-select: none;
  	-ms-user-select: none;   
  	user-select: none; 
}
