@font-face{
	font-family: "PT Sans";
	src: ("https://fonts.google.com/specimen/PT+Sans?selection.family=PT+Sans");
}

.aboutimages{
	width: 80%;
	height: 50%;
	position: relative;
	text-align: center;
	color: white;
	border-radius: 25px;
	border: outset #BFA959;
	overflow: hidden;
	background-color: #BFA959;
}
.imgtext{
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%,-50%);
	color: #BFA959;
	text-shadow: 1px 1px #2B1E14;
	font-family: 'PT Sans', sans-sherif;
	font-weight: bold;
	font-size: 175%;
}

.bodytext{
	font-color: #2B1E14;
	font-family: 'PT Sans', sans-sherif;
}