/*Header & Navigation Bar*/
.page-header{
	margin-top: 0px;
	margin-bottom: 0px;
}

.navbar{
	margin-bottom: 0 !important;
	margin-top: 0;
	border-radius: 0;
	border: 0 !important;
	position: top;
}

.navbar-default{
	background-color: #BFA959;
}

.navbar-default .navbar-nav > li > a:link, .nav > li > a:visited{
	color: #2B1E14;
	font-family: 'Lato', sans-serif;
	font-weight: bold;
}

.navbar-default .navbar-nav > li > a:hover, .navbar-default .navbar-nav > li > a:active{
	color: #2B1E14;
	background-color: #c6b26c;
	border-radius: 5%;
	font-family: 'Lato', sans-serif;
	font-weight: bold;

}

.header{
	top: 0px;
	margin: 0px;
	height: 250px;


	background-image: url("http://ucomm-exten2.colorado.edu:8085/cu_boulder_stock_photo_database/api/v1/asset/193368/preview");
	background-repeat: no-repeat;
	background-size: 100%;
	background-position: bottom right;
}
.affix {
		top: 0;
		width: 100%;
		z-index: 9999 !important;
		padding-top: 7px;

}
.navbar-inverse{
	background-color: #BFA959;
}
