/*Header & Navigation Bar*/
.page-header{
	margin-top: 0px;
	margin-bottom: 0px;
}

.navbar{
	margin-bottom: 0 !important;
	margin-top: 0;
	border-radius: 0;
	border: 0 !important;
	position: top;
}

.navbar-default{
	background-color: #BFA959;
}

.navbar-default .navbar-nav > li > a:link, .nav > li > a:visited{
	color: #2B1E14;
	font-family: 'Lato', sans-serif;
	font-weight: bold;
}

.navbar-default .navbar-nav > li > a:hover, .navbar-default .navbar-nav > li > a:active{
	color: #2B1E14;
	background-color: #c6b26c;
	border-radius: 5%;
	font-family: 'Lato', sans-serif;
	font-weight: bold;

}

.header{
	top: 0px;
	margin: 0px;
	height: 250px;


	background-image: url("../Pictures/flatirons_header.jpg");
	background-repeat: no-repeat;
	background-color: #BFA959;
	background-size: 100%;
	background-position: top left;

}
.header img{
	margin: 1% 1%; 
	width: 20%; 
	height: auto;
	
	/*Makes unselectable in various browsers*/
	-webkit-touch-callout: none; /* iOS Safari */
	-webkit-user-select: none;   /* Chrome/Safari/Opera */
	-khtml-user-select: none;    /* Konqueror */
	-moz-user-select: none;      /* Firefox */
	-ms-user-select: none;       /* Internet Explorer/Edge */
	user-select: none;
}

footer {
	padding: 80px;
	background: #BFA959;
	color: white;
	margin-top: 100px;
	position: relative;
	float: left;
	width: 100%;
}
