/*Google Font Types*/

@import url('https://fonts.googleapis.com/css?family=Brawler|Lato:700');

@font-face{

	font-family: "Brawler";

	src: ("https://fonts.google.com/specimen/Brawler");

}



/*Page Formatting*/

body{

	background-color: #FAECE1;

	padding: 0;

}
a:link {
    text-decoration: none;
}

a:visited {
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}
.carousel-inner{
	margin-top: 50px;
}

hr{
	border-color: #BFA959;
	background-color: #BFA959;
    display: block;
    margin-top: 0.5em;
    margin-bottom: 0.5em;
    margin-left: auto;
    margin-right: auto;
    border-style: solid;
    border-width: 1px;
}

.section_wrapper{

	/*Div Postioning*/
	position: relative;
	margin: 0 auto;
	width: 90%;
}

.section_header{
	/*Text Formatting*/
	color: #2B1E14;
	font-family: 'Lato', sans-sherif;
	font-weight: bold;
	font-size: 300%;
}

.section_body{
	/*Div Postioning*/
	position: relative;
	margin: 0 auto;
	width: 90%;
	margin-top: 2%;
	margin-bottom: 7%;

	color: #2B1E14;
	font-family: 'Brawler', sherif;
	font-size: 105%;
}



/*Team*/
.gallery_section{
	/*Testing*/
/*	background-color: green;
*/
	/*Position Formatting*/
	position: relative;
	margin: 0 auto;
	width: 30%;
	padding: 1%;
	float: left;
	display: block;
	margin-left: auto;
	margin-right: auto;
}
.gallery_section img{
	/*Set Dimensions*/
	border-radius: 5%;
	position: relative;
	width: 60%;
	height: auto;

	/*Center Image*/
	display: block;
	margin-left: auto;
	margin-right: auto;

	/*Makes unselectable in various browsers*/
	-webkit-touch-callout: none; /* iOS Safari */
  	-webkit-user-select: none;   /* Chrome/Safari/Opera */
  	-khtml-user-select: none;    /* Konqueror */
  	-moz-user-select: none;      /* Firefox */
  	-ms-user-select: none;       /* Internet Explorer/Edge */
  	user-select: none;
}
.gallery_section img:before{
	opacity: 1;
}
.gallery_section img:hover{
	opacity: 0.8;
}


.gallery_name{
	/*Div Postioning*/
	text-align: center;
	position: relative;
	margin: 0 auto;
	margin-top: 2%;

	color: #2B1E14;
	font-weight: bold;
	font-family: 'Brawler', sherif;
	font-size: 125%;
}
